@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&display=swap');
body{
    background-color: rgb(65, 62, 62);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Mooli', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(70, 68, 68);
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 89px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 70vh;
    background-color: rgb(70, 68, 68);
    color: white;
    font-family: 'Croissant One', sans-serif;
    display: flex;
    width: 89%;
    margin: 12px auto;
    padding: 34px;
    background-image: url('ig.png');
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: rgb(54, 53, 53);
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 11px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 43px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 20px 0;
    border-radius: 2px;
}

.songItem img{
    width: 50px;
    margin: 3px 0;border-radius: 34px;
}

.timestamp{
    margin: 0 10px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Croissant One', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}